/* styles.css */

body {
    font-family: Arial, sans-serif;
}
.login-container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h2 {
    text-align: center;
}
.login-container input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
.login-container input[type="submit"]:hover {
    background-color: #45a049;
}



/* General alert styles */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
}


/* Danger alert styles */
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* JS error.message styles */
.error-message {
    color: red;
    font-size: 0.7em;
    margin-top: 5px;
}

/* style for recipe page */
.recipecontainer {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.recipecontainer h1 {
    color: #4CAF50;
    text-align: center;
    margin-top: 20px;
}

.recipecontainer h2{
    color: #5bc0de;
    margin-top: 30px;
    text-align: left;
}

.recipecontainer img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.recipecontainer p {
    padding: 0 20px;
    text-align: justify;
}

.recipecontainer ul, ol {
    padding: 0 40px;
}

.recipecontainer ul {
    list-style-type: disc;
}

.recipecontainer ol {
    list-style-type: decimal;
}

.recipecontainer li {
    margin: 10px 0;
    line-height: 1.4;
}

.back-link{
    position:absolute;
    top:20px;
    right: 20px;
    color: blue;
    text-decoration: none;
    
}

.back-link:hover {
    color: darkblue;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .recipecontainer body {
        padding: 0 10px;
    }
    .recipecontainer h1 {
        font-size: 1.8em;
    }
    .recipecontainer h2 {
        font-size: 1.4em;
    }
    .recipecontainer p, ul, ol {
        padding: 0 10px;
    }
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    padding: 10px;
    border-bottom: 2px solid black;
    font-family: Arial, sans-serif;
}

.header h1 {
    margin: 0;
    font-size: 300%;
}

.header p{
    margin:10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
