/* styles.css */

body {
    font-family: Arial, sans-serif;
}
.login-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container h2 {
    text-align: center;
}
.login-container input{
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container input[type="submit"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}
.login-container input[type="submit"]:hover {
    background-color: #45a049;
}

/* General alert styles */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
}


/* Danger alert styles */
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}